.fondo-principal {
    -fx-background-image: url("../resources/fondos/OAYT5G0.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.fondo-glass {
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-border-color: rgba(244,244,249,0.5);
}

.label {
    -fx-text-fill: #f4f4f9;
}