.fondo-izquierdo {
    -fx-background-image: url("../resources/fondos/6388.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.fondo-derecho {
    -fx-background-image: url("../resources/fondos/O7MF5N0.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.border-img {
    -fx-effect: dropshadow(three-pass-box, rgba(255,0,0,0.8), 10, 0, 0, 0);
    -fx-border-radius: 30;
    -fx-border-color: white;
    -fx-border-style: dashed;
    -fx-border-width: 10;
}
