.fondo-principal {
    -fx-background-image: url("../resources/fondos/pfusuario.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}


.label {
    -fx-text-fill: #f4f4f9;
}