.fondoPrincipal {
    -fx-background-image: url("../resources/fondos/430375-PE5X25-537.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}