.fondoPrincipal {
    -fx-background-image: url("../resources/fondos/399191-PCOOJW-782.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}
.btn-save {
    -fx-background-color: transparent;
    -fx-background-image: url("../resources/botones/save-icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-width: 75px;
    -fx-height: 75px;
}

.btn-add {
    -fx-background-color: #1B263B;
    -fx-width: 50px;
    -fx-height: 50px;
    -fx-border-radius: 5px;
    -fx-background-image: url("../resources/botones/add.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.sin-fondo {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.fondo-tmp {
    -fx-background-color: black;
}
