.fondoPrincipal {
    -fx-background-image: url("../resources/fondos/592.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.btn-add {
    -fx-background-color: #1B263B;
    -fx-border-radius: 50;
    -fx-background-image: url("../resources/botones/add.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.btn-save {
    -fx-background-color: transparent;
    -fx-background-image: url("../resources/botones/save-icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-width: 75px;
    -fx-height: 75px;
}
