.bodybg{
    -fx-background-image: url("../resources/fondoSeguridadPrincipal.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;   
}

.bodybgIz{
    -fx-background-image: url("../resources/fondoLadoIzquier.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.bodybgDere{
    -fx-background-image: url("../resources/fondoLadoDerecho.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    
}

.fondoPrincipal {
    -fx-background-image: url("../resources/fondos/6388.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.root-cont {
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-border-color: rgba(255,0,0,0.5);
    -fx-border-style:outset;
    -fx-border-width: 5;
}

.border-img {
    -fx-effect: dropshadow(three-pass-box, rgba(255,0,0,0.8), 10, 0, 0, 0);
    -fx-border-radius: 30;
    -fx-border-color: white;
    -fx-border-style: dashed;
    -fx-border-width: 10;
}




