.fondoPrincipal {
    -fx-background-image: url("../resources/fondos/OAV9FP0.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}
.texto-negro {
    -fx-color: black;
}
