.fondo-principal {
    -fx-background-image: url("../resources/fondos/db2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.sin-fondo {
    -fx-background-color: transparent;
}

.fondo-btn-add {
    -fx-background-color: transparent;
    -fx-background-image: url("../resources/botones/add.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.fondo-glass {
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-border-color: rgba(244,244,249,0.5);
}

.label {
    -fx-text-fill: #f4f4f9;
}