.fondo-principal {
    -fx-background-image: url("../resources/fondos/16544.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.fondo-btn-add {
    -fx-background-color: transparent;
    -fx-background-image: url("../resources/botones/add.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}